{{!-- Extiende el layout principal --}}
{{!< main}}

<div class="text-center">
    <h1 class="display-4">Welcome to Rental Management</h1>
    <p class="lead">Manage rentals, carts, and users efficiently.</p>
    <a href="/products" class="btn btn-primary btn-lg">View Rentals</a>
</div>
